<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <add key="InitialFolder" value="" />

    <!-- 是否在处理前显示正则表达式信息，否则没有任何提示直接开始处理 true OR false -->
    <add key="showRegexInfo" value="true"/>

    <!-- 代码文件夹路径 -->

    <add key="codeFolder" value="Z:\Code"/>

    <!-- 需要处理的文件的通配符 -->
    <add key="fileSearchPattern" value="*.cs"/>
  </appSettings>
  
</configuration>